
.cardgift {
    display: flex;
    justify-content: center;
    margin: 10px;
    height: 18rem;
    width: 15rem;
    overflow: hidden;
    object-fit: cover;
    transition: .3s ease-in-out;
}
.cardgift:hover {
    transform: scale(1.04);
    transition: .3s ease-in-out;
    box-shadow: 1px 1px 14px rgba(116, 112, 112, 0.324);
    height: 19rem;
}
.cardgift img{
    height: 13rem;
    width: 15rem;
}