div.cardcreators {
    display: flex;
    justify-content: center;
    margin: 8px;
    height: 22rem;
    width: 14rem;
    overflow: hidden;
    border-bottom: ridge rgba(0, 0, 0, 0.091);
    a, p {
        text-decoration-line: none;
    }
}
.cardcreators:hover {
    transition: .3s ease-in-out;
    box-shadow: 0px 0px 14px rgba(116, 112, 112, 0.324);
}
div.creatorsbody.card-body {
background-color: rgba(0, 0, 0, 0.011);
}
img.card-img-top.creatorsimg {
    object-fit: cover;
    width: 14rem;
}

@media screen and (max-width: 800px) {
    div.cardcreators {
        flex-direction: row;
        width: 30rem;
        height: 11rem;
        border-radius: 2px;
    }
    #bodylen.card {
        flex-direction: row;
    }
    img.card-img-top.creatorsimg {
        object-fit: cover;
        border-radius: 0px 2px 0px 0px;
    }
}