.cardpopulares {
    display: flex;
    justify-content: center;
    margin: 8px;
    height: 15rem;
    width: 10rem;
    overflow: hidden;
    border-style: none;
    border-radius: 2%;
    transform: scale(1);
    transition: .3s ease-in-out;
}

.cardpopulares:hover {
    transition: .3s ease-in-out;
    box-shadow: 1px 1px 14px rgba(116, 112, 112, 0.324);
    height: 20rem;
}

.card-img-top {
    width: 11rem;
    height: 12rem;
    object-fit: cover;
}

.card-img-top:hover {
    filter: brightness(1.05);
}

@media screen and (min-width: 700px) {
    .cardpopulares {
        height: 15rem;
        width: 13rem;
        position: relative;
    }
}